@charset "utf-8";
.accordion {
  text-align: center;
}
.accordion .inner {
  display: none;
}
.accordion p {
  cursor: pointer;
  font-size: 3.5vw;
  line-height: 1.8;
  text-align: center;
}
.accordion p u {
  color: #0098eb;
}
.accordion  .acc_liframe01,
.accordion  .acc_liframe02,
.accordion  .acc_liframe03{
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  display: table;
  position: relative;
  font-size: 4.5vw;
  text-align: left;
  border: solid 3px #e9cb0d;
}
.accordion  .acc_liframe02{
  border: solid 3px #049486;
}

.content1-2 strong,
.content2-2 strong,
.content3-2 strong {
  color: #ff6969;
  font-weight: bold;
}

.ac__contens {
  padding: 3vw 3vw 4.5vw;
  line-height: 1.7;
  display: flex;
}

.content1-2 p span,
.content2-2 p span,
.content3-2 p span {
  color: #ff6969;
}

.accordion .inner li {
  padding: 3vw 7vw 4vw;
}

.ac_txt {
  margin-right: 34px;
  /* border-bottom: solid 1px #fff; */
  /* padding-bottom: 5px; */
  font-size: 7vw;
}

.acc_title {
  display: block;
  position: absolute;
  float: right;
  font-size: 5vw;
  line-height: 1.4;
  left: 14vw;
  margin-left: 30px;
}

.accordion .inner li.content1-1 img,
.accordion .inner li.content2-1 img,
.accordion .inner li.content3-1 img {
  width: 70%;
  display: block;
  margin: 0 auto;
}

p.ac1 .marker,
p.ac2 .marker,
p.ac3 .marker {
  font-size: 6vw;
}

p.ac1:after,
p.ac2:after,
p.ac3:after {
  content: "";
  position: absolute;
  right: 6%;
  top: 0;
  margin-top: 8.5%;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 3vw;
  height: 3vw;
  border-top: solid 2px #303263;
  border-right: solid 2px #303263;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

p.ac1.open:after,
p.ac2.open:after,
p.ac3.open:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.inner.active {
  background-color: #ffffff;
}
